*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
img{
    object-fit: cover;
}
header{
    background-color: rgba(0, 5, 16, 0.92);
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topleft{
    display: flex;
    align-items: center;
    gap: 20px;
}
.topleft a{
    text-decoration: none;
}
.logo{
    border: 1px solid transparent;
    border-radius: 3px;
}
.deliver-to-nigeria{
    background-color: rgba(0, 5, 16, 0);
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px;
    display: flex;
}
.deliver-to-nigeria div{
    display: flex;
    flex-direction: column;
}
.locationicon{
    display: flex;
    margin-top: 12px;
    width: 16px;
}
.deliver-to{
    color: rgba(255, 255, 255, 0.767);
    font-size: 12px;
}
.Nigeria{
    font-size: 14px;
}
.logo:hover, .deliver-to-nigeria:hover{
    border: 1px solid white;
}
.topcenter{
    width: 65%;
    display: flex;
    align-items: center;
    margin: 0px 10px;
}
.searchsection{
    width: 100%;
    display: flex;
}
.selectsection{
    width: 60px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.39);
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
    cursor: pointer;
}
.barsection{
    font-size: 16px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.39);
    width: 1100px;
    width: 100%;
}
.searchicon{	
    display: flex;
    width: 43px;
    height: 40px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgba(128, 128, 128, 0.39);
    background-color: rgba(255, 166, 0, 0.815);
    cursor: pointer;
}
.selectsection:hover{
    background-color: rgba(255, 255, 255, 0.658);
}
.searchicon:active, .selectsection:focus, .barsection:focus{
    outline: 2px solid rgb(255, 136, 0);
}
.searchicon:hover{
    background-color: rgba(231, 166, 45, 0.932);
}
.topright{
    display: flex;
    gap: 20px;
    align-items: center;
}
.topright a{
    text-decoration: none;
} 
.language{
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
}
.signin{
    background-color: rgba(0, 5, 16, 0);
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.accounts-and-list{
    font-size: 14px;
}
.return{
    background-color: rgba(0, 5, 16, 0);
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.orders{
    font-size: 14px;
}
.cart{
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
}
.language:hover, .signin:hover, .return:hover, .cart:hover{
    border: 1px solid white;
}
@media screen and (max-width: 760px) {
    .selectsection{
        width: 25px
    }
    .searchicon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .searchicon img{
        width: 20px;
        height: 20px;
    }
    .topright, .topleft{
        flex-wrap: wrap;
    }
}   
.div1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(13, 23, 44, 0.87);
    padding: 10px;
    font-family: sans-serif;
}
.div1 a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px 8px;
}
.div1 a:hover{
    border: 1px solid white;
}
.div-1-link{
    margin: 5px;
}
.eq{
    font-size: 20px;
    font-weight: 200;
}
body{
    background-color: rgba(128, 128, 128, 0.144);
}
.box-1-2-3-4{
    background-size: cover;
    background-image: linear-gradient(
    to bottom, transparent, 85%, rgb(234, 238, 235)
    ), url(./Images/we_ship\ img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}
.box-1-2-3-4 div{
    margin-top: 20px;
}
.box1{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 22px;
}
.gaming{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 600;
}
.box1 a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
}
.box1 img{
    width: 152px;
    height: 110px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: -3px;
}
.textlink{
    padding-top: 7px;
    padding-bottom: 30px;
    padding-right: 112px;
    padding-left: 20px;
    margin-left: -23px;
    background-color: white;
    color: rgba(0, 0, 0, 0.822);
}
.textlink2{
    padding-top: 7px;
    padding-bottom: 30px;
    padding-right: 108px;
    padding-left: 20px;
    margin-left: -23px;
    background-color: white;
    color: rgba(0, 0, 0, 0.822);
}
.seemore{
    margin-left: -1px;
    background-color: white;
    color: royalblue;
}
.seemore:hover{
    text-decoration: underline;
    color: tomato;
}
.box2{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 24px;
    padding-top: 25px;   
}
.box2 img{
    width: 150px;
}
.shopbycat{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 600;
}
.c-a-v{
    margin-left: 0px;
    margin-top: 11px;
}
.b-a-t{
    margin-bottom: 45px;
}
.shopnow{
    text-decoration: none;
    color: royalblue;
    font-size: 13px;
    font-family: sans-serif;
}
.shopnow:hover{
    text-decoration: underline;
    color: tomato;
}
.holidaygifts{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 600;
}
.box3{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box3 img{
    width: 152px;
    height: 110px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.box3 a{
    text-decoration: none;
    font-size: 13px;
}
.textlink3{
    margin-right: 102px;
    color: rgba(0, 0, 0, 0.822);
}
.textlink4{
    padding-right: 135px;
    padding-left: 23px;
    margin-left: -22px;
    color: rgba(0, 0, 0, 0.822);
}
.shopallgiftguide{
    color: royalblue;
    font-family: sans-serif;
    font-size: 12px;
}
.shopallgiftguide:hover{
    text-decoration: underline;
    color: tomato;
}
.box4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box4a{
    width: 355px;
    height: 130px;
    background-color: white;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.box4b{
    display: flex;
    justify-content: center;
}
.signinforbestexperience{
    font-weight: 600;
    font-family: sans-serif;
    font-size: 20px;
}
.signinbutton{
    height: 30px;
    width: 300px;
    margin-top: 15px;
    background-color: rgb(248, 209, 37);
    border-radius: 10px;
    font-family: sans-serif;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.116);
}
.signinbutton:hover{
    background-color: rgb(248, 192, 37);
}
@media screen and (max-width:1348px) {
    .box-1-2-3-4{
        background-image: none;
        padding: 0;
    }
}
.box-5-6-7-8{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}
.box-5-6-7-8 div{
    margin-top: 20px;
}
.box5{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box5 img{
    margin-top: 20px;
    margin-bottom: 23px;
    width: 310px;
    height: 300px;
}
.epc{
    font-family: sans-serif;
    font-size: 20px;
}
.shopnow{
    text-decoration: none;
    color: royalblue;
    font-size: 13px;
    font-family: sans-serif;
}
.shopnow:hover{
    text-decoration: underline;
    color: tomato;
}
.box6{
    background-color: white;
    background: #fff;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box6 img{
    margin-top: 20px;
    margin-bottom: 23px;
    width: 310px;
    height: 300px;
}
.box7{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box7 img{
    margin-top: 20px;
    margin-bottom: 23px;
    width: 310px;
    height: 300px;
}
.box8{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box8 img{
    margin-top: 20px;
    margin-bottom: 23px;
    margin-left: -22px;
    width: 354px;
    height: 300px;
}
.scroll-box-container{
    width: 78%;
    max-width: 1920px;
    margin: 0 auto;
}
.box9{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    height: 285px; 
    margin-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 25px;
    overflow: auto;
    white-space: nowrap;
}
.box9 img{
    margin-top: 8px;
    margin-right: 15px;
}
.popularproducts{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: -20px;
}
.box10{
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}   
.box10 a{
    margin-right: 10px;
}
.box10:hover{
    overflow-x: scroll;
}
.box10::-webkit-scrollbar{ 
    background-color: whitesmoke;   
    border-radius: 20px;
}
.box10::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 20px; 
    border: 5px solid whitesmoke;
}
.box10::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}
.box11{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    height: 285px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 25px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 20px;
}
.box11 img{
    margin-top: 8px;
}
.box11 a{
    text-decoration: none;
    color: royalblue;
    margin-left: 10px;
    font-family: sans-serif;
}
.box11 a:hover{
    text-decoration: underline;
    color: tomato;
}
.findperfect{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: -20px;
}
.box12{
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;
}
.box12:hover{
    overflow-x: scroll;
}
.box12::-webkit-scrollbar{
    background-color: whitesmoke;   
    border-radius: 20px;
}
.box12::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 20px; 
    border: 5px solid whitesmoke;
}
.box12::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}
.box13-to-16{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}
.box13-to-16 div{
    margin-bottom: 20px;
}
.box13{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box13 img{
    width: 152px;
    height: 110px;
    margin-right: 7px;
    margin-top: 20px;
    margin-bottom: 2px;
}
.box13 a{
    text-decoration: none;
    font-size: 13px;
}
.textlink5{
    margin-right: 67px;
    color: rgba(0, 0, 0, 0.822);
}
.textlink6{
    margin-right: 100px;
    color: rgba(0, 0, 0, 0.822);
}
.textlink7{
    margin-right: 85px;
    color: rgba(0, 0, 0, 0.822);
}
.textlink8{
    margin-right: 34px;
    color: rgba(0, 0, 0, 0.822);
}
.box14{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box14 img{
    width: 152px;
    height: 110px;
    margin-right: 7px;
    margin-top: 20px;
    margin-bottom: 2px;
}
.box14 a{
    text-decoration: none;
    font-size: 13px;
}
.box15{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box15 img{
    margin-top: 20px;
    margin-bottom: 23px;
    width: 310px;
    height: 300px;
}
.box16{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box16 img{
    margin-top: 20px;
    margin-bottom: 23px;
    width: 310px;
    height: 300px;
}
.box17{ 
    width: 100%;
    margin: 0 auto;
    background-color: white;
    height: 285px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 25px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 20px;
}
.box17 img{
    margin-top: 8px;
    margin-right: 15px;
}
.box18{
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;
}
.box18:hover{
    overflow-x: scroll;
}
.box18::-webkit-scrollbar{
    background-color: whitesmoke;   
    border-radius: 20px;
}
.box18::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 20px; 
    border: 5px solid whitesmoke;
}
.box18::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}
.box19{ 
    width: 100%;
    margin: 0 auto;
    background-color: white;
    height: 285px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 25px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 20px;
}
.box20{
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;
}
.box20:hover{
    overflow-x: scroll;
}
.box20::-webkit-scrollbar{
    background-color: whitesmoke;   
    border-radius: 20px;
}
.box20::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 20px; 
    border: 5px solid whitesmoke;
}
.box20::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}
.box21-to-24{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}
.box21-to-24 div{
    margin-bottom: 20px;
}
.box21{
    background-color: white;
    background: #fff;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box21 img{
    margin-top: 20px;
    margin-bottom: 23px;
    width: 310px;
    height: 280px;
}
.box22{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box22 img{
    width: 152px;
    height: 110px;
    margin-right: 7px;
    margin-top: 20px;
    margin-bottom: 2px;
}
.box22 a{
    text-decoration: none;
    font-size: 13px;
}
.box23{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box23 img{
    width: 152px;
    height: 110px;
    margin-right: 7px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.box23 a{
    text-decoration: none;
    font-size: 13px;
}
.box24{
    background-color: white;
    background: #fff;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box24 img{
    margin-top: 20px;
    margin-bottom: 23px;
    width: 310px;
    height: 300px;
}
.box25{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    height: 285px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 25px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 20px;
}
.international{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: -20px;
}
.brush{
    margin-right: 70px;
    margin-left: 10px;
}
.turner{
    margin-right: 20px;
    margin-left: 10px;
}
.box26{
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;
}
.box26:hover{
    overflow-x: scroll;
}
.box26::-webkit-scrollbar{
    background-color: whitesmoke;   
    border-radius: 20px;
}
.box26::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 20px; 
    border: 5px solid whitesmoke;
}
.box26::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}
.box27{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    height: 285px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 25px;
    overflow: auto;
    white-space: nowrap;
}
.box27 a{
    text-decoration: none;
    font-family: sans-serif;
    color: royalblue;
    font-size: 14px;
    margin-left: 15px;
}
.box27 a:hover{
    text-decoration: underline;
    color: tomato;
}
.box28{
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;
}
.box28:hover{
    overflow-x: scroll;
}
.box28::-webkit-scrollbar{
    background-color: whitesmoke;   
    border-radius: 20px;
}
.box28::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 20px; 
    border: 5px solid whitesmoke;
}
.box28::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}
.box29-to-32{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.box29-to-32 div{
    margin-top: 20px;
}
.box29{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box29 img{
    margin-top: 20px;
    margin-bottom: 23px;
    width: 310px;
    height: 300px;
}
.box30{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box30 img{
    margin-top: 20px;
    margin-bottom: 23px;
    width: 310px;
    height: 300px;
}
.box31{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-top: 25px;
}
.box31 img{
    margin-top: 20px;
    margin-bottom: 23px;
    width: 310px;
    height: 300px;
}
.box32{
    background-color: white;
    width: 355px;
    height: 438px;
    padding-left: 23px;
    padding-right: 10px;
    padding-top: 25px;
}
.shampoo{
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 0px;
}
.box32 a{
    font-size: 13px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.822);
}
.popbeauty{
    font-family: sans-serif;
    font-size: 20px;
}
.figures{
    font-family: sans-serif;
    margin-top: 7px;
}
.figures b{
    font-size: 22px;
    font-weight: 100;
}
.figures sup{
    color: rgba(0, 0, 0, 0.822);
}
.figures del{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.822);
}
.mini1{
    margin-left: 15px;
    margin-top: 10px;
    width: 20%;
    border: 1px solid darkorange;
    padding: 8px 10px;
}
.mini2{
    margin-left: 1px;
    margin-top: 10px;
    width: 18%;
    border: 1px solid grey;
    padding: 20px 5px;
}
.mini3{
    margin-left: 1px;
    margin-top: 10px;
    width: 19%;
    border: 1px solid grey;
    padding: 15px 5px;
}
.mini4{
    margin-left: 1px;
    margin-top: 10px;
    width: 18%;
    border: 1px solid grey;
    padding: 8px 5px;
}
.box33{
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: 285px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 25px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 20px;  
}
.box34{
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;
}
.box34:hover{
    overflow-x: scroll;
}
.box34::-webkit-scrollbar{
    background-color: whitesmoke;   
    border-radius: 20px;
}
.box34::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.527);
    border-radius: 20px; 
    border: 5px solid whitesmoke;
}
.box34::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}
.div2{
    width: 100%;
    font-family: sans-serif;
    background-color: white;
    border: 1px solid transparent;
    text-align: center;
    padding: 45px 0px 20px 0px;
}
.div2 p{
    font-size: 13px;
}
.div2 span{
    font-size: 11px;
}
.div2 a{
    font-size: 11px;
    text-decoration: none;
    color: royalblue;
}
.div2 a:hover{
    color: tomato;
}
.recommend{
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 35px 0px 20px 0px;
}
.recommend button{
    font-weight: 600;
    font-family: sans-serif;
    width: 230px;
    padding: 7px;
    margin: 7px 0px 3px 0px;
    border-radius: 5px;
    outline: 1px solid rgba(255, 136, 0, 0.918);
    background: linear-gradient(to top, rgb(248, 192, 37) 30%, rgba(248, 192, 37, 0.349));
}
.recommend button:hover{
    cursor: pointer;
}
.div3link{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}
.div3{
    text-align: center;
    border: 1px solid transparent;
    padding: 13px 0px 12px 0px;
    width: 100%;
    background-color: rgba(33, 46, 78, 0.842);
}
.div3:hover{
    background-color: rgba(45, 57, 88, 0.849);
}
.div3 a:hover{
    background-color: rgba(91, 104, 138, 0.411);
}
.div4 {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0 auto;
    justify-content: center;
    font-family: sans-serif;
    font-size: 14px;
    padding: 50px 10px 20px 0px;
    background-color: rgba(13, 23, 44, 0.87);
}
.div4 ul{
    padding: 0;
}
.div4 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836);
}
.div4 a:hover{
    text-decoration: underline;
}
.div4 h3{
    color: white;
}
.div4 li{
    list-style-type: none;
    margin-top: 10px;
}
.line-separator{
    border: 1px solid #3a4553;
}
.div5{
    text-align: center;
    padding: 50px 50px 50px 130px;
    background-color: rgba(13, 23, 44, 0.87);
}
.div5-core{
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    max-width: 1920px; 
    width: 50%;
    margin: 0 auto;
}
.button-and-select{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.div5 select{
    width: 140px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.767);
    border: 1px solid rgba(255, 255, 255, 0.767);
    border-radius: 3px;
    padding: 10px 1px 7px 1px;
    cursor: pointer;
}
.div5 option{
    background-color: rgba(54, 54, 54, 0.959);
}
.div5 button:active{
    outline: 1px solid rgba(255, 255, 255, 0.623);
}
.usdbutton{
    width: 140px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.767);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.767);
    cursor: pointer;
}
.usflagbutton{
    width: 140px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.767);
    padding: 7px 23px 7px 7px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.767);
    cursor: pointer;
}
.usflagbutton img{
    width: 21px;
}
.div6{
    padding-left: 60px;
    padding-top: 30px;
    display: flex;
    background-color: rgba(0, 5, 16, 0.92);
}
.div6 a{
    flex-direction: column;
    display: flex;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.678);
}
.div6 b{
    color: rgba(255, 255, 255, 0.822);
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 100;
}
.div6 span{
    color: rgba(255, 255, 255, 0.473);
    font-family: sans-serif;
    font-size: 10px;
}
.div6 a:hover{
    text-decoration: underline;
}
.div6 table{ 
    margin: 0 auto;
    border-collapse: collapse;
}
td{
    padding: 0px 60px 30px 0px;
}
tr{
    vertical-align: top;
}
@media screen and (max-width:940px) {
    td{
        padding: 0px 20px 30px 0px;
    }
}
footer{
    background-color: rgba(0, 5, 16, 0.92);
    padding: 40px 100px 40px 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 15px;
    text-align: center;
}
footer a{
    color: rgba(255, 255, 255, 0.822);
    font-family: sans-serif;
    font-size: 13px;
    margin-left: 15px;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer span{
    color: rgba(255, 255, 255, 0.822);
    font-family: sans-serif;
    font-size: 13px;
    margin-left: 15px;
}